@model Progress.Models.Model

@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <br />
    @Html.AntiForgeryToken()
    @Html.LabelFor(m => m.Email)
    <input id="email" type="email" name="email" required />
  //  @Html.TextBoxFor(m => m.Email)

    <input type="submit" value="Submit" />
}
@if (ViewData["Error"] != null)
{
    <div class="red">
        <p>@ViewData["Error"].ToString()</p>
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="green">
        <p>@TempData["Success"].ToString()</p>
    </div>
}
@section Scripts{
    <script src="~/js/ValidationScripts.js"></script>
    }
